@import 'colors.css';

.buttonWithMorePropsSpec {
  appearance: none;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: var(--secondary);
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  transition: all 0.3s ease-out;
  border: 0;
  cursor: pointer;
}

.buttonWithMorePropsSpec:hover {
  color: var(--white);
  background-color: var(--secondaryHover);
}

/* medium */
.buttonWithMorePropsSpec.medium {
  font-size: 1.5rem;
}

/* large */
.buttonWithMorePropsSpec.large {
  font-size: 2rem;
}

/* primary */
.buttonWithMorePropsSpec.primary {
  background-color: var(--primary);
}

.buttonWithMorePropsSpec.primary:hover {
  background-color: var(--primaryHover);
}

/* error */
.buttonWithMorePropsSpec.error {
  background-color: var(--error);
}

.buttonWithMorePropsSpec.error:hover {
  background-color: var(--errorHover);
}

/* success */
.buttonWithMorePropsSpec.success {
  background-color: var(--success);
}

.buttonWithMorePropsSpec.success:hover {
  background-color: var(--successHover);
}

/* disabled */
.buttonWithMorePropsSpec.disabled,
.buttonWithMorePropsSpec.disabled:hover {
  opacity: 0.5;
  background-color: var(--secondary);
  color: var(--black);
}