.App {
  display: flex;
  height: 100%;
}

.App-nav {
  width: 25rem;
  background-color: #282c34;
  color: #fff;
  padding: 1rem 2rem;
  overflow-y: auto;
}

.App-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  overflow-y: auto;
}
