.buttonWithPrimary {
  appearance: none;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-out;
  border: 0;
  cursor: pointer;
}

.buttonWithPrimary:hover {
  color: #fff;
  background-color: darkgray;
}

/* primary */
.buttonWithPrimary.primary {
  background-color: lightblue;
}

.buttonWithPrimary.primary:hover {
  background-color: darkblue;
}