.card {
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-out;
  display: inline-block;
  vertical-align: top;
  min-height: 13rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardTitle {
  font-weight: bold;
  margin: 0 0 0.5rem;
}

.cardDescription {
  margin: 0 0 1rem;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
}
