@value primary: skyblue;
@value secondary: silver;
@value error: coral;
@value success: lime;

.card {
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  display: inline-block;
  vertical-align: top;
  min-height: 13rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardHeader {
  display: flex;
  flex-direction: row;
}

.cardImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.cardImage:hover {
  animation: scale linear 1s;
}

.cardTitle {
  font-weight: bold;
  margin: 0 0 0.5rem;
}

.cardDescription {
  margin: 0 0 1rem;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes scale {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.3) scaleY(1.3);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

/* variants */
.cardPrimary {
  composes: card;

  background-color: primary;
}

.cardSecondary {
  composes: card;

  background-color: secondary;
}

.cardError {
  composes: card;

  background-color: error;
}

.cardSuccess {
  composes: card;

  background-color: success;
}