.Nav-title {
  color: #ffa60b;
  text-transform: uppercase;
}

.Nav-list {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

.Nav-item {
  margin: 0.5rem 0;
}

.Nav-link {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  transition: opacity .3s ease-out;
}

.Nav-link.active,
.Nav-link:hover {
  opacity: 1;
}
